html, body
{
  height: 100%;
  margin: 0;
}

body
{
  background-image: url(1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header
{
	color: rgb(0, 0, 0);
    font-family:cursive;
    font-size: 45px;
    letter-spacing: 5px;
}

.header img
{
	width: 80px;
  margin-left: -15px;
  margin-bottom: 10px;
}

#AddRoom
{
  color: #6b6b6b;
  margin-left: 5px;
}

#logout
{
  margin-top: 5px;
  border-radius: 15px;
}

.color_white
{
  color: #000000;
  font-size: 18px;
  margin-top: -30px;
  margin-bottom: 15px;
}

.login_div
{
	background: rgb(255, 255, 255);
  float: none;
  border-radius: 25px;
  margin-top: 50px;
  box-shadow: 9px 8px 7px rgba(190, 190, 190, 0.642);
}

.container
{
  background: rgb(255, 255, 255);
  float: none;
  border-radius: 25px;
  height: 550px;
  width: 500px;
  margin-top: 150px;
  box-shadow: 9px 8px 7px rgba(190, 190, 190, 0.642);
}

#user_tag
{
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  color: rgb(165, 165, 165);
}

#login_button
{
	border-radius: 15px;
  width: 400px;
  height: 55px;
  color: #ffffff;
  font-size: 18px;
  background-color: rgb(76,41,83)
  
}

#user
{
  border-radius: 15px;
  height: 45px;
  width: 400px;
  background-color: rgb(210, 210, 210);
  border-width: 0px;
  color: rgb(0, 0, 0);
}

#room
{
  border-radius: 15px;
  height: 45px;
  width: 450px;
  background-color: rgb(210, 210, 210);
  border-width: 0px;
  color: rgb(0, 0, 0);
}

.user_tick
{
	width:20px;
}

.input_div_message_page #msg
{
	width: 80%;
}

.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}

#Output
{
  height: 270px;
}

#output
{
  height: 165px;
}

h5
{
  text-align: left;
  margin-left: 25px;
  font-size: 15px;
  color: #6b6b6b;
}

.logo
{
  width: 300px;
}